.hero-section{
    background: linear-gradient(135deg, #b19cd9, #6a0dad);
    color: white;
}
.hero-section img {
    border-radius: 10px;
}
.about-section{
    background: linear-gradient(135deg, rgba(230, 204, 255, 1) 0%, rgba(173, 216, 230, 1) 100%); 
    color: #333; 
}
.img-elixir{
    border-radius: 20px;
}
.community-section{
    background-color: rgb(223, 233, 247);
    
}
